<div id="layout">

  <!-- Live analysis -->
  <mat-card class="choose-card" routerLink="/live">
    
    <img mat-card-image
      src="https://images.pexels.com/photos/716276/pexels-photo-716276.jpeg?cs=srgb&dl=class-classroom-conference-716276.jpg&fm=jpg">
    <mat-card-content>
      <mat-card-title>Live Speaker Analysis</mat-card-title>
      <mat-card-subtitle>Get a just-in-time evaluation of your talk an never gave a boring presentation again!</mat-card-subtitle>
    </mat-card-content>
    
  </mat-card>

  <!-- Practice -->
  <mat-card class="choose-card" routerLink="/practice">

    <img mat-card-image
      src="https://images.pexels.com/photos/1468310/pexels-photo-1468310.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    <mat-card-content>
      <mat-card-title>Digital Coaching System</mat-card-title>
      <mat-card-subtitle>Practice for a presentation. Use state-of-the-art ai tecnology to analyse and improve your presentation skills!</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>